<div class="search-container">
  <form class="search-form">
    <div class="search-input-group">
      <input type="text" placeholder="Search articles..." class="search-input">
      <button type="submit" class="search-button">Search now</button>
    </div>
  </form>
</div>